[Desktop Entry]
Version=1.0
Type=Application
Name=LOAD SESSION
Comment=Nutzerkonto von externem Medium wiederherstellen
Exec=sudo /usr/bin/loadSession.sh
Icon=view-sort-ascending
Path=/tmp/
Terminal=false
StartupNotify=false
