[Desktop Entry]
Version=1.0
Type=Application
Name=LOAD SESSION
Comment=load user0 session from external media
Exec=sudo /usr/bin/loadSession.sh
Icon=view-sort-ascending
Path=/tmp/
Terminal=false
StartupNotify=false
