[Desktop Entry]
Version=1.0
Type=Application
Name=SAVE SESSION
Comment=Nutzerkonto auf externes Medium speichern
Exec=sudo /usr/bin/saveSession.sh
Icon=view-sort-descending
Path=/tmp/
Terminal=false
StartupNotify=false
