[Desktop Entry]
Version=1.0
Type=Application
Name=Bildschirm empfangen
Comment=Verbindung mit anderem Schulsystem
Exec=/usr/bin/connect2schulsystem.sh
Icon=computer           
Path=/tmp/
Terminal=false
StartupNotify=false
Categories=Network;RemoteAccess;
Keywords=VNC;Server;Screencast
